/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/profile/achievements/achievements.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.achievements{
    text-align: center;
    margin: 1rem 0 ;
    height: 95%;
    width: 40%;
    background-color: #292944;
    border-radius: 16px;
}

.achievements__title{
    color: #C1B8ED;
    font-size: 2rem;
    padding: 1rem 0;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .achievements{
        width: 100%;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/global_css/resets.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
*
, *::before
,*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/global_css/utilityClasses.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
body{
    background-color: #1f1f31;
}
.container{
    height: 100dvh;
    max-width: 1536px;
    margin: 0 auto;
    background-image: linear-gradient(270deg, rgba(38,37,69,1) 0%, rgba(47,42,96,1) 50%, rgba(20,16,49,1) 100%);
    position: relative;
}

.bg__image__util{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cursor{
    cursor: pointer;
}


@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {

}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/profile/history/history.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.history{
    text-align: center;
    margin: 1rem 0;
    height: 95%;
    width: 55%;
    background-color: #292944;
    border-radius: 16px;
}

.history__title{
    color: #C1B8ED;
    font-size: 2rem;
    padding: 1rem 0;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/profile/achievement__history/achievement__history.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.achievements__history {
  display: flex;
  width: 90%;
  margin: 0 auto 0.5rem;
  justify-content: space-between;
  height: 55%;
  position: relative;
}

.achievements__history__Scroll {
  width: 32px;
  height: 36px;
  background-image: url("/img/nextScroll.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 102%;
  transform: translateY(-50%);
  display: none;
}

@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .achievements__history__Scroll {
    display: block;
  }
  .achievements__history {
    width: 80%;
    height: 45%;
  }
  .profile__section {
    height: 100dvh;
  }
  .history {
    width: 100%;
    position: absolute;
    left: 768px;
  }
  .achievements {
    position: absolute;
    width: 100%;
    left: 768px;
  }

  .achievements__title{
    font-size: 1.8rem;
  }

  .history__title{
    font-size: 1.8rem;
  }

  .play {
    display: none;
  }

  .show__history {
    left: 0px;
    animation: fromLeft 1s;
  }

  .show__Achievement {
    left: 0px;
    animation: fromRight 1s;
  }

  .noshow__history{
    animation: moveOutRight 1s;
  }

  .noshow__Achievement{
    animation: moveOutLeft 1s;
  }

}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  .achievements__title{
    font-size: 1.5rem;
  }
  .history__title{
    font-size: 1.5rem;
  }
}

@keyframes fromLeft {
    from {left: 120%;}
    to {left: 0%;}
}

@keyframes fromRight {
    from {left: -120%;}
    to {left: 0%;}
}

@keyframes moveOutLeft {
    from {left: 0%;}
    to {left: -120%;}
}

@keyframes moveOutRight {
    from {left: 0%;}
    to {left: 120%;}
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/profile/page.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

.profile__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100dvh - 70px);
    overflow: hidden;
}

.play{
    height: 10%;
    display: flex;
    align-items: center;
}
.play__btn{
    text-decoration: none;
    padding: 0.25rem 1.75rem;
    color: white;
    font-size: 2rem;
    background-color: #1BCAA1;
    margin:  auto;
    border-radius: 8px;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .profile__section{
        height: calc(100dvh - 50px);
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/profile/profile_pic/profile_pic.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.profile__pic__level{
    margin: 1rem 0 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.param__img{
    display: block;
    background-image: url("/img/params.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.profile__pic{
    display: inline-block;
    width: 180px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1000px;
}

.profile__level{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    bottom: 18px;
    z-index: 2;
}

.test{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__username{
    color: #FFFADE;
    font-size: 2rem;
    margin: -16px;
}

.params__btn{
    position: absolute;
    right: 5%;
    top: 5%;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .profile{
        width: 80%;
    }
    .profile__pic{
        width: 140px;
        height: 140px;
    }

    .profile__username{
        font-size: 1.5rem;
    }
    .profile__level{
        width: 30px;
        height: 30px;
        bottom: 15px;
        font-size: 1.3rem;
    }
    .param__img{
        width: 32px;
        height: 32px;
    }
}

/* sm */
@media (max-width: 640px) {
    
}

/* xs */
@media (max-width: 475px) {

}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/profile/analytics/analytics.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.analytics{
    display: flex;
    margin: 1rem auto;
    background-color: #292944;
    width: 90%;
    text-align: center;
    border-radius: 16px;
}
.all__data{
    display: flex;
    justify-content: space-between;
    width: 45%;
    align-items: center;
    font-size: clamp(.7rem, 3vw, 1.1rem);
}

.data{
    flex: 0.3;
    justify-content: center;
    margin: 0.3rem 0;
}

.xp__bar{
    width: 50%;
    height: 2rem;
    background-color: hsla(0, 2%, 85%, 0.3);
    margin: auto;
    border-radius: 16px;
    font-size: 1.2rem;
    position: relative;
}

.current__xp__bar{
    position: absolute;
    display: inline-block;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: #1BCAA1;
    opacity: 1;
    border-radius: 16px;
}
.xp__text{
    position: relative;
    z-index: 2;
}



.data__border{
    border-left-style: solid;
    border-right-style: solid;
    border-color: #7B7B9B;
}

.data__title{
    color: #C1B8ED;
}

.data__value{
    color: #FFFADE;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {
    .all__data{
        font-size: clamp(.7rem, 3vw, 0.9rem);
    }
}

/* md */
@media (max-width: 768px) {
    .analytics{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .all__data{
        width: 90%;
        margin: 0 0 1rem;
        order: 1;
    }
    .xp__bar{
        width: 90%;
        margin: 1rem 0;
        height: 1.7rem;
        font-size: 1.1rem;
    }
}

/* sm */
@media (max-width: 640px) {
    
}

/* xs */
@media (max-width: 475px) {

}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/profile/profile_header/App-header.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.app__header{
    width: 100%;
    height: 70px;
    background-color: white;
    text-align: center;
    font-size: 3rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.app__header__chat{
    width: 50%;
    height: 70px;
    display: inline-block;
    background-color: #14143B;
    color: #C1B8ED;
    text-decoration: none;
}

.app__header__profile{
    width: 50%;
    height: 70px;
    display: inline-block;
    background-color: #14143B;
    color: #C1B8ED;
    text-decoration: none;
}

.opac{
    opacity: 0.6;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .app__header{
        height: 50px;
        font-size: 2rem;
    }
    
    .app__header__chat{
        height: 50px;
    }
    
    .app__header__profile{
        height: 50px;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}

