.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000000;
    width: 100%;
    height: 6rem;
    max-width: 100%;
    position: fixed;
}

.container li a{
    margin-right: 4rem;
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
}

.container li:nth-child(-n + 1) {
    margin-right: auto;
    margin-left: 2.75rem;
}

.container li:nth-child(2) {
    position: absolute;
    left: 7.25rem;
}

.container > :last-child > :last-child {
    background-color: #37EEB1;
    padding: 0.6rem 1.2rem;
    border-radius: 17px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

.imageRes {
    display: flex;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

.title {
    color: #37EEB1;
    font-weight: 700;
    font-size: 200%;
    letter-spacing: 0.2rem;
}
