.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000000;
    width: 100%;
    max-width: inherit;
    height: 6rem;
    position: fixed;
    z-index: 10;
}

.links a{
    margin-right: 4rem;
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
}

.links > :last-child {
    background-color: #37EEB1;
    padding: 0.6rem 1.2rem;
    border-radius: 17px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

.imageRes {
    display: flex;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-left: 2.75rem;
}

.title {
    font-family: 'probert';
    color: #37EEB1;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.2rem;
    margin-left: .75rem;
}
