.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000000;
  width: 100%;
  max-width: inherit;
  height: 6rem;
  position: fixed;
  z-index: 10;
}

.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  font-family: "probert";
  margin-right: clamp(2rem, 4vw, 4rem);
  color: #ffffff;
  font-size: clamp(1rem, 2vw, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.links > :last-child {
  background-color: #37eeb1;
  padding: 0.6rem 1.2rem;
  border-radius: 17px;
  color: black;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

.imageRes {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-left: 2.75rem;
}

.title {
  font-family: "probert";
  color: #37eeb1;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.2rem;
  margin-left: 0.75rem;
}

.bar {
  background-color: #ffffff;
  width: 100%;
  height: 7px;
  border-radius: 5px;
}

.phoneNav {
  display: none;
  margin-right: 3rem;
}

.openNavIcon {
  display: block;
  height: 32px;
  width: 32px;
  background-image: url("/img/nav/phoneNav.png");
  background-position: center;
}

.closeNav {
  display: block;
  height: 32px;
  width: 32px;
  background-image: url("/img/nav/closeNav.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.phoneLinks {
  position: absolute;
  overflow: hidden;
  top: 6rem;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "probert";
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 180px;
  width: 100%;
  z-index: 150;
  animation: dropDown 1s;
}

.phoneLinks a {
  color: #ffffff;
  font-size: clamp(1rem, 2vw, 2rem);
}
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .links {
    display: none;
  }
  .phoneNav {
    display: block;
  }
  .imageRes {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}

@keyframes dropDown {
  from {
    height: 0px;
  }
  to {
    height: 180px;
  }
}
