.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background: linear-gradient(
    203deg,
    #14143b 0%,
    #14143b 25%,
    #14143b 30%,
    #2cab8d 79.27%,
    #37eeb1 100%
  );
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(196, 22, 22); */
  margin-left: 2rem;
}

.title {
  color: #14143b;
  font-family: "probert";
  font-weight: bolder;
  text-align: center;
  /* font-size:   4rem; */
  font-size: 4rem;
  width: 15ch;
  letter-spacing: 0.2rem;
  /* max-width: 65%; */
}

.title span {
  color: #37eeb1;
}

.Main button {
  margin-top: 1rem;
  color: #14143b;
  font-size: 2.4rem;
  font-weight: bolder;
  /* width: 238px; */
  width: 14.8rem;
  /* height: 67px; */
  height: 3.5rem;
  border-radius: 20px;
  background: #ffd699;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  user-select: none;
}

.MainImg {
  position: relative;
  margin-left: 3rem;
}

.ball {
  background-image: url("/img/section1/ball.png");
  display: inline-block;
  width: 420px;
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Moon {
  position: absolute;
  background-image: url("/img/section1/moon.png");
  display: inline-block;
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: -120px;
  top: -60px;
}

@media (max-width: 1536px) {
  .MainImg {
    position: relative;
    margin: 0 3rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .Main button {
    font-size: 2.2rem;
    width: 13.8rem;
  }
  .ball {
    width: 360px;
    height: 360px;
  }

  .Moon {
    width: 120px;
    height: 120px;
    right: -100px;
    top: -50px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    gap: 5rem;
  }
  .Main {
    order: 1;
  }
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .Main button {
    font-size: 2rem;
    width: 13rem;
  }

  .ball {
    width: 320px;
    height: 320px;
  }

  .Moon {
    width: 100px;
    height: 100px;
    right: -80px;
    top: -40px;
  }
}

/* sm */
@media (max-width: 640px) {
  .title {
    font-size: 2.4rem;
  }

  .Main button {
    font-size: 1.8rem;
    width: 12rem;
  }

  .ball {
    width: 320px;
    height: 320px;
  }

  .Moon {
    width: 100px;
    height: 100px;
    right: -80px;
    top: -40px;
  }
}

/* xs */
@media (max-width: 475px) {
  .title {
    font-size: 1.8rem;
  }

  .Main button {
    font-size: 1.5rem;
    width: 10rem;
  }

  .ball {
    width: 280px;
    height: 280px;
  }

  .Moon {
    width: 90px;
    height: 90px;
    right: -70px;
    top: -35px;
  }
}
