.Main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(196, 22, 22); */
    height: 100vh;
    width: 50dvw;
    margin-left: 2rem;
}

.title {
    color: #14143B;
    font-family: 'probert';
    font-weight: bolder;
    text-align: center;
    font-size: calc(35px + 1.5vw);
    width: 15ch;
    letter-spacing: 0.2rem;
    /* max-width: 65%; */
}

.title span {
    color: #37EEB1;
}

.Main button {
    margin-top: 1rem;
    color: #14143B;
    font-Size: 40px;
    font-weight: bolder;

    width: 238px;
    height: 67px;
    border-Radius: 20px;
    background: #FFD699;
    border: none;
    box-Shadow: 0px 4px 4px 0px #00000040;
}

.MainImg {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.BallImg {
    /* background-color: #14143B; */
    height: 30rem;
    width: 30rem;
    position: relative;
}

.MoonImg {
    height: 10rem;
    width: 10rem;
    position: relative;
    margin-bottom: 20rem;
}
