.pageWraper1 {
    display: flex;
    height: 100vh;
    background: linear-gradient(203deg, #14143B 0%, #14143B 25%, #14143B 30%, #2CAB8D 79.27%, #37EEB1 100%);
}

.pageWraper2 {
    display: flex;
    height: 100vh;
    background: linear-gradient(153deg, #37EEB1 0%, #14143B 70%, #14143B 100%);
}

.pageWraper3 {
    display: flex;
    height: 100dvh;
    background: #14143B;
}

.pageWraper4 {
    display: flex;
    height: 100dvh;
    background: linear-gradient(203deg, #14143B 0%, #14143B 27%, #14143B 32%, #2CAB8D 79.27%, #37EEB1 100%);
}
