.inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 5.9vw;
  margin-top: 5vh;
}

.slideBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #191941;
  width: 90%;
  height: clamp(2rem, 7.5vw, 4.5rem);
  border-radius: 36px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #14143b;
  cursor: pointer;
  user-select: none;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.signUpTxt,
.signInTxt {
  font-size: clamp(0.5rem, 3vw, 2.7rem);
  font-family: "probert";
  color: #383961;
  z-index: 1;
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
}

.On {
  color: #d9d9d9;
}

.subSlideBtn {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #54527d;
  border-radius: 36px;
  left: 0;
}

@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {

}

/* sm */
@media (max-width: 640px) {

}

  /* xs */
@media (max-width: 475px) {

}
