.friends__container{
    flex: 0.8;
    width: 90%;
    display: flex;
    justify-content: center;
}

.chat__friend{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd23;
    max-height: 80px;
    border-radius: 16px;
}

.chat__friend__identity{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: white;
    letter-spacing: 0.1rem;
    margin: 0 0.3rem;
}

.chat__friend__options{
    margin: 0 2rem;
}

.avatar{
    width: 5rem;
    height: 5rem;
}