.chat__section{
    width: 65%;
    background-image: linear-gradient(270deg, rgba(38,37,69,1) 0%, rgba(47,42,96,1) 50%, rgba(20,16,49,1) 100%);
}

.chat__pattern{
    width: 100%;
    height: 100%;
    background-image: url(
        "/img/pattern-9.svg"
    );

}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .chat__section{
        width: 85%;
    }
}



/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}