.auth__card {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 10rem auto;
  align-items: center;
  background-color: rgb(20, 20, 59);
  font-size: 1.5rem;
  color: #6f6fa5;
  font-weight: 700;
  border-radius: 16px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.auth__msg {
  text-align: center;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.auth__credentials {
  display: flex;
  width: 250px;
  flex-direction: column;
}

.auth__credentials form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: #c1b8ed99;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.auth__credentials input {
  background: none;
  border: 2px;
  width: 87%;
  height: 60%;
  margin-left: 5%;
  color: #edeeff;
  font-weight: 700;
}

.auth__credentials input::-webkit-input-placeholder {
  color: #edeeff;
  font-weight: 700;
  font-size: clamp(0.6rem, 1.6vw, 1.1rem);
}

.auth__credentials input:focus {
  outline: none;
}

.auth__btn {
  color: #edeeff;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 1rem auto;
  border: 2px solid #6f6fa5;
  background-color: #23234aba;
  border-radius: 8px;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
}

.auth__btn:hover {
  background-color: #c1b8ed99;
}

.falsePassword {
  border: 2px solid red;
}
