.container {
    /* background-color: rgb(36, 34, 39); */
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      203deg,
      #14143b 0%,
      #14143b 25%,
      #14143b 30%,
      #2cab8d 79.27%,
      #37eeb1 100%
    );
    animation: bottomTop 1s;
  }
  
  .gameImg {
    /* background-color: #14143B; */
    height: 35vw;
    width: 35vw;
    position: relative;
    /* margin-right: 250px; */
    /* padding-right: 100px; */
  }
  
  .txt {
    /* height: 30rem; */
    width: 60ch;
    margin-right: 150px;
  }
  
  .txt p {
    font-family: "probert";
    color: #c7f8ff;
    font-weight: 500;
    font-size: 3rem;
  }
  
  .scrollElm {
    width: 1.1rem;
    height: 15.5rem;
    border-radius: 15px;
    background: #fff;
    /* margin: 2rem 2rem 3rem 2rem; */
    margin-bottom: 2rem;
    margin-right: 8rem;
    /* margin-right: 8vw; */
  }
  
  .friend {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .cubeImg {
    background-image: url("/img/section2/game.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 600px;
    height: 600px;
  }
  
  .in{
    z-index: 2;
    animation: Topbottom 1s;
  }
  
  .out{
      z-index: -1;
      animation: bottomTop 1s;
  }
  @media (max-width: 1536px) {
    .cubeImg {
      width: 500px;
      height: 500px;
    }
    .txt {
      margin-right: 120px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .friend {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
    .cubeImg {
      width: 400px;
      height: 400px;
    }
    .txt {
      width: 75ch;
      margin-right: 0;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .txt {
      width: 70ch;
      margin-right: 0;
    }
    .txt p {
      font-size: 2.7rem;
    }
    .scrollElm {
      margin-right: 5rem;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .cubeImg {
      width: 350px;
      height: 350px;
    }
    .txt {
      width: 60ch;
      margin-right: 0;
    }
    .txt p {
      font-size: 2.5rem;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .cubeImg {
      width: 300px;
      height: 300px;
    }
    .txt {
      width: 50ch;
      margin-right: 0;
    }
    .txt p {
      font-size: 2.2rem;
    }
    .scrollElm {
      margin-right: 3rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .cubeImg {
      width: 250px;
      height: 250px;
    }
    .txt {
      width: 35ch;
      margin-right: 0;
    }
    .txt p {
      font-size: clamp(1.5rem, 2vw, 1.8rem);
    }
    .scrollElm {
      width: 0.8rem;
      margin-right: 1.5rem;
    }
  }
  
  @keyframes bottomTop {
    from {
      bottom: 0%;
    }
    to {
      bottom: 100%;
    }
  }
  
  @keyframes Topbottom {
      from {
        Top: -100%;
      }
      to {
        Top: 0%;
      }
    }
  