.container {
    /* background-color: rgb(36, 34, 39); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(203deg, #14143B 0%, #14143B 25%, #14143B 30%, #2CAB8D 79.27%, #37EEB1 100%);
}

.gameImg {
    /* background-color: #14143B; */
    height: 35vw;
    width: 35vw;
    position: relative;
    /* margin-right: 250px; */
    /* padding-right: 100px; */
}

.txt {
    /* height: 30rem; */
    width: 180ch;
    margin-right: 100px;
}

.txt p {
    font-family: 'probert';
    color: #C7F8FF;
    font-weight: 500;
    font-size: clamp(1.5rem, 3.5vw, 3rem);
}

.scrollElm {
    width: 1.1rem;
    height: 15.5rem;
    border-Radius: 15px;
    background: #FFF;
    /* margin: 2rem 2rem 3rem 2rem; */
    margin-bottom: 2rem;
    margin-right: 8rem;
    /* margin-right: 8vw; */
}

.bar {

}

.friend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.side__icons
{
    display: block;
    width: 100%;
}

.side__icons > div {
    position: unset !important;
}

.side__icons .side__icons__btn__icon {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
