/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat_addbar/chat-addbar.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.chatroom__sidebar__addbar{
   display: flex;
   justify-self: flex-end;
   align-items: center;
   flex: 0.1;
   width: 90%;
   height: 40px;
}

.chatroom__sidebar__addbar__form{
   width: 100%;
}

.add__btn{
   display: inline-block;
   position: absolute;
   height: 40px;
   width: 40px;
   align-items: center;
   order: 0;
   z-index: 2;
}


.add__bar{
   order: 1;
   background-color: transparent;
   text-align: center;
   initial-value: "";
   border: none;
   height: 45px;
   width: 0px;
   transition: width 0.7s,background-color 1s;
   content: none;
   border-radius: 15px;
}

.add__bar:focus{
   width: 90%;
   background-color: #3E3E56;
   margin-right: 5px;
}

.add__icon{
   transition: transform 0.7s;
}

.add__bar:focus + .add__btn .add__icon{
   transform: rotateZ(360deg);
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/global_css/resets.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
*
, *::before
,*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/global_css/utilityClasses.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
body{
    background-color: #1f1f31;
}
.container{
    height: 100dvh;
    max-width: 1536px;
    margin: 0 auto;
    background-image: linear-gradient(270deg, rgba(38,37,69,1) 0%, rgba(47,42,96,1) 50%, rgba(20,16,49,1) 100%);
    position: relative;
}



@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {

}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat_header/App-header.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.app__header{
    width: 100%;
    height: 70px;
    background-color: white;
    text-align: center;
    font-size: 3rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.app__header__chat{
    width: 50%;
    height: 70px;
    display: inline-block;
    background-color: #14143B;
    color: #C1B8ED;
    text-decoration: none;
}

.app__header__profile{
    width: 50%;
    height: 70px;
    display: inline-block;
    background-color: #14143B;
    color: #C1B8ED;
    text-decoration: none;
}

.opac{
    opacity: 0.6;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .app__header{
       display: none;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat_room/chat-room.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.chatRoom{
    height: calc(100dvh - 70px);
    display:flex;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat_section/chat-section.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.chat__section{
    width: 65%;
    background-image: linear-gradient(270deg, rgba(38,37,69,1) 0%, rgba(47,42,96,1) 50%, rgba(20,16,49,1) 100%);
}

.chat__pattern{
    width: 100%;
    height: 100%;
    background-image: url(
        "/img/pattern-9.svg"
    );

}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .chat__section{
        width: 85%;
    }
}



/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat-side-bar/chat-side-bar.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.chatroom__sidebar{
    width: 35%;
    display: flex;
    background-color: #292944;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .chatroom__sidebar{
        width: 15%;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/toggle-switch/toggle-switch.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.chat__toggle__switch{
    flex: 0.1;
}

.toggle__switch{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 360px;
    height: 60px;
    background-color: #14143B;
    border-radius: 20px;
    margin: 2rem;
}

.toggle__switch__checkbox{
    position: absolute;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 360px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.toggle__switch__checkbox::before,
.toggle__switch__checkbox::after{
    z-index: 2;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.toggle__switch__checkbox::before{
    content: "groups";
    color: #FFFADE;
    left: 40px;
}

.toggle__switch__checkbox::after{
    content: "direct";
    color: #fffadea8;
    right: 48px;   
}

.toggle__switch__slider::before{
    position: absolute;
    content: "";
    height: 60px;
    width: 180px;
    background-color: #54527D;
    border-radius: 20px;
    transition: .6s;
}

.toggle__switch__checkbox:checked + .toggle__switch__slider::before{
    transform: translateX(180px);
}

.toggle__switch__checkbox:checked:before{
    color: #fffadea8;
}

.toggle__switch__checkbox:checked::after{
    color: #FFFADE;
}

/* 2xl */
@media (max-width: 1536px) {

}
  
  /* xl */
  @media (max-width: 1280px) {
    .toggle__switch{
        width: 280px;
        height: 50px;
    }
    .toggle__switch__checkbox{
        width: 280px;
        height: 50px;
    }
    .toggle__switch__checkbox::before,
    .toggle__switch__checkbox::after{
        font-size: 1.8rem;
    }

    .toggle__switch__checkbox::before{
        left: 28px;
    }
    .toggle__switch__checkbox::after{
        right: 38px;   
    }

    .toggle__switch__slider::before{
        height: 50px;
        width: 140px;
        border-radius: 20px;
    }

    .toggle__switch__checkbox:checked + .toggle__switch__slider::before{
        transform: translateX(140px);
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .toggle__switch{
        width: 240px;
        height: 50px;
    }
    .toggle__switch__checkbox{
        width: 240px;
        height: 50px;
    }
    .toggle__switch__checkbox::before,
    .toggle__switch__checkbox::after{
        font-size: 1.5rem;
    }

    .toggle__switch__checkbox::before{
        left: 24px;
    }
    .toggle__switch__checkbox::after{
        right: 32px;   
    }

    .toggle__switch__slider::before{
        height: 50px;
        width: 120px;
        border-radius: 20px;
    }

    .toggle__switch__checkbox:checked + .toggle__switch__slider::before{
        transform: translateX(120px);
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .chat__toggle__switch{
        display: none;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {

  }
  
  /* xs */
  @media (max-width: 475px) {

  }



/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat_friends/chat-friends.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.friends__container{
    flex: 0.8;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat_friends/chat_friend/chat_friend.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.chat__friend{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd23;
    border-radius: 16px;
    margin-bottom: 1rem;
}

.chat__friend__identity{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: white;
    letter-spacing: 0.1rem;
    margin: 0 0.3rem;
}

.chat__friend__options{
    margin: 0 2rem;
}

.friend__pic{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1000px;
    margin: 0.5rem;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/chat/chat-side-bar-icons/side-icons.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.side__icons{
    display: none;
}
.side__icons__btn{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .side__icons{
        display: block;
        width: 100%;
        > div{
            position: unset !important;
        }

        .side__icons__btn__icon{
            -o-object-fit: contain;
               object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}

/* sm */
@media (max-width: 640px) {
    .side__icons__btn{
        padding: 0.7rem;
        font-size: 1.3rem;
    }
}

/* xs */
@media (max-width: 475px) {
    .side__icons__btn{
        padding: 0.5rem;
        font-size: 1rem;
    }
}
