.container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(90deg, #141132 0%, #2f2a61 50%, #141132 100%); */
}

.header {
  display: flex;
  width: 100%;
  height: 8%;
  background-color: yellow;
  user-select: none;
  cursor: pointer;
}

.chatRoomBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #14143b;
}

.profileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #262643;
}

.header p {
  font-family: "probert";
  color: #c1b8ed;
  font-size: clamp(1rem, 3vw, 3.5rem);
}

/* /////////////      left      ////////////// */

.subContainer {
  display: flex;
  width: 100%;
  height: 92%;
  background: linear-gradient(90deg, #141132 0%, #2f2a61 70%, #141132 100%);
}

.left {
  width: 35%;
  height: 100%;
  background-color: #292944;
}

.left ul {
  overflow: hidden;
  height: auto;
}

/* /////////////      right      ////////////// */

.right {
  position: relative;
  width: 65%;
  height: 100%;
  background-image: url('/img/chat/background.svg');
}
