.logout__btn{
    font-family: probert;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.2rem 2.25rem;
    font-size: 1.3rem;
    color :white;
    background-color: #EA5A5A;
    border-style: solid;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    margin: 0 auto 0.5rem;
}


@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .logout__btn{
        font-size: 1.1rem;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

} 
