body{
    background-color: #1f1f31;
}
.container{
    height: 100dvh;
    max-width: 1536px;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #141132 0%, #2f2a61 50%, #141132 100%);
    position: relative;
}

.bg__image__util{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cursor{
    cursor: pointer;
}

