body{
    background-color: #1f1f31;
}
.container{
    height: 100dvh;
    max-width: 1536px;
    margin: 0 auto;
    background-image: linear-gradient(270deg, rgba(38,37,69,1) 0%, rgba(47,42,96,1) 50%, rgba(20,16,49,1) 100%);
    position: relative;
}

.bg__image__util{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cursor{
    cursor: pointer;
}


@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {

}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}