.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.group {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
}

/* ///////////// */

.arrow_container {
  /* background-color: #F2F3F5; */
  width: 91px;
  height: 91px;
  /* position: relative; */
  /* top: 1000px; */
}

/* //////////////// */

.scrollElm {
  width: 1.1rem;
  height: 15.5rem;
  border-radius: 15px;
  background: #fff;
  /* margin: 2rem 2rem 3rem 2rem; */
  margin-bottom: 2rem;
  margin-right: 8rem;
  /* margin-right: 8vw; */
}

.side__icons {
  display: block;
  width: 100%;
}
.side__icons2 {
  position: absolute;
  width: 50px;
}

.side__icons > div {
  position: unset !important;
}

.side__icons .side__icons__btn__icon {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.side__icons2 .side__icons__btn__icon {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.ParentDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}
