.chatroom__sidebar{
    width: 35%;
    display: flex;
    background-color: #292944;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .chatroom__sidebar{
        width: 15%;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}