.chat__friend{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd23;
    border-radius: 16px;
    margin-bottom: 1rem;
}

.chat__friend__identity{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: white;
    letter-spacing: 0.1rem;
    margin: 0 0.3rem;
}

.chat__friend__options{
    margin: 0 2rem;
}
