.side__icons{
    display: none;
}
.side__icons__btn{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .side__icons{
        display: block;
        width: 100%;
        > div{
            position: unset !important;
        }

        .side__icons__btn__icon{
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}

/* sm */
@media (max-width: 640px) {
    .side__icons__btn{
        padding: 0.7rem;
        font-size: 1.3rem;
    }
}

/* xs */
@media (max-width: 475px) {
    .side__icons__btn{
        padding: 0.5rem;
        font-size: 1rem;
    }
}