.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-top: 1.7rem;
}

.achievement,
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292944;
  width: 43%;
  height: 90%;
  border-radius: 40px;
}

.history {
  width: 57%;
  margin-left: 2%;
}

.achievement h2,
.history h2 {
  font-family: "probert";
  font-size: clamp(1.3rem, 2.5vw, 2.7rem);
  color: #c1b8ed;
  margin: 1.8rem 0;
}

.achievement p,
.history p {
  font-family: "probert";
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  color: #7f7d82;
}

.playBtn {
  position: absolute;
  background-color: turquoise;
  color: #fffade;
  width: 10rem;
  height: 3.5rem;
  border-radius: 20px;
  border: none;
  left: calc(50% - 5rem);
  font-family: "probert";
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  user-select: none;
  cursor: pointer;
  margin-top: 1.5rem;
}
