.auth__2fa{
    align-items: center;
    color: white;
    font-family: probert;
}
.auth__2fa__img{
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.auth__2fa__profile{
    margin: 0.5rem 0 0;
}

.auth__2fa__username{
    text-align: center;
    letter-spacing: 0.05rem;
}

.auth__2fa__msg{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}

.auth__2fa__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__2fa__form__inputs{
    display: flex;
    justify-content: space-around;
    margin: 0 0 1rem;
    gap: 0.2rem;
}

.auth__2fa__input{
    width: 12%;
    border-radius: 8px;
    border-width: 1px;
    background-color: #14143B;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.auth__2fa__form__btn{
    font-family: inherit;
    text-transform: capitalize;
    padding: 0.2rem 3rem;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    background-color: #807AAC;
    color: white;
    font-size: 1rem;
    border-width: 1px;
    margin:  0.5rem 0 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    cursor: pointer;
    user-select: none;
}