.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #14143bb9;
    z-index: 10;
}

.window {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f6f6f6;
    width: 60%;
    height: 75%;
    z-index: 100;
}

.leftside {
    background-color: black;
    width: 340px;
    height: 100%;
    border-style: solid;
    border-width: 1px;
}

.rightside {
    width: 60%;
    height: 80%;
    margin: 5%;
}

.imageDiv {
    display: block;
    width: 340px;
    height: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkdin{
    display: inline-block;
    background-image: url("/img/linkedin.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.button {
    font-weight: 700;
    font-size: clamp(.4rem, 1vw, 1rem);
    background-color: #434342;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    height: 7%;
    width: 90%;
    margin: 20% 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title {
    width: 100%;
    height: 30%;
}

.title h2 {
    font-family: 'probert';
    letter-spacing: 0.2rem;
    font-size: clamp(1rem, 1.5vw, 1.9rem);
    font-weight: 900;
}

.title p {
    display: inline-block;
    max-width: 100%;
    margin-top: 2%;
    font-weight: 300;
    letter-spacing: 0.15rem;
}

.rightside p {
    color: gray;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {
    .window {
        flex-direction: column;
        width: 70%;
    }
    .leftside {
        display: flex;
        width: 100%;
    }    
    .imageDiv {
        width: 360px;
        height: 100%;
    }
    .button {
        font-size: clamp(.8rem, 1vw, 1rem);
        height:50px;
        width: 40%;
        cursor: pointer;
        margin: 10%;
    }
}

/* md */
@media (max-width: 768px) {
    .btnText{
        display: none;
    }
    .button {
        font-size: clamp(.8rem, 1vw, 1rem);
        height:50px;
        width: 50px;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}