.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    font-family: probert;
}

.profile__pic__level{
    margin: 1rem 0 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.param__img{
    display: block;
    background-image: url("/img/home/setting.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.profile__pic{
    display: inline-block;
    width: 180px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1000px;
}

.profile__level{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color: #262643;
    color: #fffade;
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    bottom: 18px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__username{
    color: #FFFADE;
    font-size: 2rem;
    margin: 0.25rem;
}

.params__btn{
    position: absolute;
    right: 5%;
    top: 5%;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .profile{
        width: 80%;
    }
    .profile__pic{
        width: 140px;
        height: 140px;
    }

    .profile__username{
        font-size: 1.5rem;
    }
    .profile__level{
        width: 30px;
        height: 30px;
        bottom: 15px;
        font-size: 1rem;
    }
    .param__img{
        width: 32px;
        height: 32px;
    }
}

/* sm */
@media (max-width: 640px) {
    
}

/* xs */
@media (max-width: 475px) {

}