.chatroom__sidebar__addbar {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  flex: 0.1;
  width: 90%;
  height: 46px;
  /* background-color: violet; */
  margin-top: .5rem;
  margin-left: 1rem;
}

.chatroom__sidebar__addbar__form {
  width: 100%;
}

.add__btn {
  display: inline-block;
  position: absolute;
  height: 40px;
  width: 40px;
  align-items: center;
  order: 0;
  z-index: 2;
}

.add__bar {
  order: 1;
  background-color: transparent;
  text-align: center;
  initial-value: "";
  border: none;
  height: 45px;
  width: 0px;
  transition: width 0.7s, background-color 1s;
  content: none;
  border-radius: 15px;
  color: #c8c8c8;
  font-size: clamp(1rem, 1.7vw, 1.2rem);
}

.add__bar:focus {
  width: 90%;
  background-color: #3e3e56;
  margin-right: 5px;
  outline: none;
}

.add__icon {
  transition: transform 0.7s;
}

.add__bar:focus + .add__btn .add__icon {
  transform: rotateZ(360deg);
}
