.backdrop {
  position:absolute ;
  z-index: 2;
  width: 100%;
  height: 100%;
  /* background-color: #1815359a; */
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: white;
}

.middleSection {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 100%;
  height: 300px;
  transform: translateY(-50%);
  background-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.78%,
      rgba(0, 0, 0, 0.19) 52.75%,
      rgba(0, 0, 0, 0) 99.03%
    ),
    linear-gradient(
      187deg,
      rgba(0, 0, 0, 0.72) 5.97%,
      rgba(0, 0, 0, 0.35) 42.98%,
      rgba(0, 0, 0, 0.42) 52.08%,
      rgba(0, 0, 0, 0.74) 96.42%
    );
}

.userVSfriend {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: clamp(1rem, 5vw, 5rem);
  /* background-color: #2f2a6061; */
}

.profile__pic {
  display: inline-block;
  width: clamp(90px, 15vw, 180px);
  height: clamp(90px, 15vw, 180px);
  background-image: url("/img/home/avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1000px;
  position: relative;
}

.profile__level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translateX(-50%);
}

.userVSfriend__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.waiting {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.waiting__msg {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  color: white;
}

.VS {
  font-size: clamp(3rem, 5vw, 6rem);
  font-weight: 900;
  color: #c0b7b7;
}

.cancel__btn {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
  padding: 0 2rem;
  color: white;
  background-color: #2f2a60;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
}

.waiting__icon {
  display: inline-block;
  width: 30px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/gameMap/waiting.png");
}

.name {
  font-family: 'probert';
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  color: whitesmoke;
}

.crown {
  display: inline-block;
  width: clamp(40px, 7vw, 80px);
  height: clamp(40px, 7vw, 80px);
  background-image: url("/img/game/crown.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 1000px; */
  position: absolute;
  left: 50%;
  /* top: 0; */
  bottom: 98%;
  transform: translateX(-50%);
}
