.achievements{
    text-align: center;
    margin: 1rem 0 ;
    height: 95%;
    width: 40%;
    background-color: #292944;
    border-radius: 16px;
}

.achievements__title{
    color: #C1B8ED;
    font-size: 2rem;
    padding: 1rem 0;
}

@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .achievements{
        width: 100%;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}