.container {
  position: relative;
  background-color: #54527d;
  width: 40%;
  height: auto;
  min-height: 2rem;
  margin: 3%;
  margin-left: clamp(4rem, 3vw, 8rem);
  border-radius: 18px;
}

.img {
  position: absolute;
  top: 25%;
  left: clamp(-3.4rem, -35%, -2rem);
  background-image: url('/img/home/avatar.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  clip-path: circle(48% at 50% 50%);
}

.name {
  position: absolute;
  top: 14px;
  left: 5%;
  width: 5px;
  font-family: 'probert';
  font-size: clamp(0.5rem, 1.7vw, 1.2rem);
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: white;
}

.msg {
  color: #ffffffcd;
  font-family: "Inter";
  font-size: clamp(0.7rem, 2vw, 1.5rem);
  padding: 0.8rem;
  padding-bottom: 1.8rem;
  padding-top: 2rem;
  line-height: 2rem;
  border-radius: 18px;
}

.time {
  position: absolute;
  right: 5%;
  bottom: 8px;
  color: #ddd9d993;
  font-weight: lighter;
  font-size: clamp(0.45rem, 1vw, 1rem);
}
