.params__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -55%);
    width: 70%;
    max-width: 768px;
    background-color: #292944;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    font-family: probert;
    padding: 1rem;
}

.options__container {
    width: 90%;
    background-color: #1D1D2D;
    margin: 1rem auto;
    border-radius: 16px;
    padding: 1rem;
}

@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) {

    .params__container {
        width: 90%;
        height: auto;
        border-radius: 16px;
        justify-content: center;
    }

    .options__container {
        width: 95%;
        height: auto;
    }
}

/* xs */
@media (max-width: 475px) {}