@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #141132 0%, #2f2a61 50%, #141132 100%);
}

.leftDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.imageDiv {
  height: 60%;
  width: 100%;
  background-image: url("/img/login/enemy.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.rightDiv {
  width: 50%;
  height: 100%;
}

.rightDiv h1 {
  text-align: center;
  color: #d9d9d9;
  font-family: "Inter";
  font-size: clamp(1rem, 5vw, 8rem);
  margin-top: 10vh;
  margin-bottom: 6vh;
}

.firstP {
  color: #d9d9d9;
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(1rem, 3vw, 5rem);
  margin-left: 5.9vw;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .leftDiv {
    width: 100%;
    height: 40%;
  }
  .rightDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
  }
  .rightDiv h1 {

    margin-top: 0;
    margin-bottom: 2rem;
  }

  .firstP {
    margin-left: 1rem;
  }
}