.app__header {
    display: flex;
    width: 100%;
    height: 8dvh;
    background-color: yellow;
    user-select: none;
    cursor: pointer;
    font-family: "probert";
    font-size: clamp(1rem, 3vw, 3.5rem);
  }
  
  .app__header__chat {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #262643;
    color: #c1b8ed;
  }
  
  .app__header__profile {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #14143b;
    color: #c1b8ed;
  }


@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    .app__header{
        height: 60px;
        font-size: 2rem;
    }
}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {
  .app__header{
    height: 50px;
    font-size: 1.5rem;
}
}
