/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/global_css/resets.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
*
, *::before
,*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/global_css/utilityClasses.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
body{
    background-color: #1f1f31;
}
.container{
    height: 100dvh;
    max-width: 1536px;
    margin: 0 auto;
    background-image: linear-gradient(270deg, rgba(38,37,69,1) 0%, rgba(47,42,96,1) 50%, rgba(20,16,49,1) 100%);
    position: relative;
}



@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {

}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/profile/Parameters/logout/logout.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.logout__btn{
    display: block;
    padding: 0.2rem 3rem;
    font-size: 1.3rem;
    color :white;
    background-color: #EA5A5A;
    border-style: solid;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    margin: 0 auto;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/profile/Parameters/profile_pic_edit/pic_edit.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************/
.Params__pic{
    margin-top: 1rem;
}

.Params__profile__pic{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1000px;
}

.pic__edit__btn{
    display: inline-block;
    width: 32px;
    height: 30px;
    background-image: url("/img/pic_editer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 15px;
    right: 3px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/profile/Parameters/username_2fa/Profile_edit.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************/
::-moz-placeholder { 
    color: white;
    opacity: 1; 
  }
::placeholder { 
    color: white;
    opacity: 1; 
  }
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 2rem;
}

.form__label{
    display: block;
    color: #B6BAC0;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 8px;
}

.edit__btn{
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    background-color: #2B2D31;
    border-style: solid;
    border-width: 0.5px;
    color: white;
    border-color:black;
    border-radius: 8px;
}

#username{
    font-size: 1.2rem;
    background-color: transparent;
    border-style: solid;
    border-width: 0;
    color: white;
}


/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/profile/Parameters/params.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.params__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  height: 50dvh;
  width: 70%;
  background-color: #292944;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
}

.options__container{
    width: 90%;
    height: 50%;
    background-color: #1D1D2D;
    margin:  1rem auto;
    border-radius: 16px;

}

