.backDrop___ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.context {
  position: fixed;
  z-index: 5;
  background-color: #292944;
  color: #fffade;
  border-radius: 16px;
}

.context__menu {
  list-style-type: none;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

.context__menu__opt {
  display: flex;
  align-items: center;
  padding: 0.25rem 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  user-select: none;
}

.borders {
  border-top-style: solid;
  border-color: #c0b7b7;
  border-width: 2px;
  border-radius: 2px;
}
